# Introduction to Pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.19.2'

# So now, what is Pandas good for?

Hadeling data structured in a table.

In [3]:
df = pd.DataFrame() # Using df for DaraFrames is also a conversation across borders
df # an empry DataFrame

Empty DataFrame
Columns: []
Index: []

In [4]:
df = pd.DataFrame(columns=["Column1", "Column2"]) # at least we now have headings
df

Empty DataFrame
Columns: [Column1, Column2]
Index: []

In [5]:
df.loc[0] = ["foo", "ba"]
df

  Column1 Column2
0     foo      ba

### However this is an expencie operation
Its better to start with a list and then convert it to a pandas DataFrame

In [6]:
a = [[1,2,3,4], [5,6,7,8], [9,10,11,12] , [13,14,15,16]]
pd.DataFrame(a, columns=["Column1", "Column2", "Column3", "Column4"])

   Column1  Column2  Column3  Column4
0        1        2        3        4
1        5        6        7        8
2        9       10       11       12
3       13       14       15       16

### But how we rearly start with an empty table, so lets load one

In [8]:
df = pd.read_csv("./dataset_1/data.csv")
df

,Zeitstempel,Name,Are you interested in taking part in a python course?,Why are you interested in python?,Did you use python before?,"If yes, what did you use python for?",Did you use iPython/Jupyter Notebook?,What are your main interests?,Any other topics within python which you would like me to tackle beyond the topics above?
0,2017/03/24 12:45:49 nachm. OEZ,Hans,Yes,Training GANs to take over the world.,Yes,Nothing useful.,Yes,Machine Learing,"NumPy, Tensorflow, Processing my data in pytho..."
1,2017/03/24 12:49:26 nachm. OEZ,John,Yes,To do cool stuff (data analysis),Yes,some machine learning,Yes,Processing my data in python in order tro get ...,NaN
2,2017/03/24 1:03:40 nachm. OEZ,Jonas,Yes,Because,Yes,ML,Yes,Setting up python;Basic understanding of pytho...,NaN
3,2017/03/24 1:05:35 nachm. OEZ,Tim,Yes,NaN,No,I just used my python before,No,Setting up python;Basic understanding of pytho...,NaN
4,2017/03/24 1:09:57 nachm. OEZ,Frank,Yes,It's a Monty Python reference.,Yes,Stuff,Yes,Generating nice figures in python for my paper...,What is the sense of it all?
5,2017/03/24 1:13:17 nachm. OEZ,Roman,Yes,Because Sven says it is awesome and I should l...,Yes,"RPi scripts, generating audio stuff",Yes,Processing my data in python in order tro get ...,NaN
6,2017/03/24 1:43:49 nachm. OEZ,Michael,Yes,NaN,No,NaN,No,Basic understanding of python;Processing my da...,NaN
7,2017/03/24 2:15:46 nachm. OEZ,Hannes,Yes,it's nice,Yes,data and stuff,Yes,Running stats in python;Generating nice figure...,a list of useful packages and how to use them ...
8,2017/03/24 4:50:34 nachm. OEZ,Obama,Yes,use as teaching language,Yes,raspberry pi IO programming,No,Setting up python;Basic understanding of pytho...,NaN
9,2017/03/27 9:02:45 vorm. OEZ,Manuel,Yes,"A lot of good libraries for data analysis, pro...",Yes,"Machine learning, data analysis, prototyping, ...",Yes,Processing my data in python in order tro get ...,NaN
10,2017/03/28 11:25:44 vorm. OEZ,Richard,Yes,NaN,No,NaN,No,Machine Learing,Why Machine Learning?

In [9]:
df.head()

,Zeitstempel,Name,Are you interested in taking part in a python course?,Why are you interested in python?,Did you use python before?,"If yes, what did you use python for?",Did you use iPython/Jupyter Notebook?,What are your main interests?,Any other topics within python which you would like me to tackle beyond the topics above?
0,2017/03/24 12:45:49 nachm. OEZ,Hans,Yes,Training GANs to take over the world.,Yes,Nothing useful.,Yes,Machine Learing,"NumPy, Tensorflow, Processing my data in pytho..."
1,2017/03/24 12:49:26 nachm. OEZ,John,Yes,To do cool stuff (data analysis),Yes,some machine learning,Yes,Processing my data in python in order tro get ...,NaN
2,2017/03/24 1:03:40 nachm. OEZ,Jonas,Yes,Because,Yes,ML,Yes,Setting up python;Basic understanding of pytho...,NaN
3,2017/03/24 1:05:35 nachm. OEZ,Tim,Yes,NaN,No,I just used my python before,No,Setting up python;Basic understanding of pytho...,NaN
4,2017/03/24 1:09:57 nachm. OEZ,Frank,Yes,It's a Monty Python reference.,Yes,Stuff,Yes,Generating nice figures in python for my paper...,What is the sense of it all?

In [10]:
df.head(2)

,Zeitstempel,Name,Are you interested in taking part in a python course?,Why are you interested in python?,Did you use python before?,"If yes, what did you use python for?",Did you use iPython/Jupyter Notebook?,What are your main interests?,Any other topics within python which you would like me to tackle beyond the topics above?
0,2017/03/24 12:45:49 nachm. OEZ,Hans,Yes,Training GANs to take over the world.,Yes,Nothing useful.,Yes,Machine Learing,"NumPy, Tensorflow, Processing my data in pytho..."
1,2017/03/24 12:49:26 nachm. OEZ,John,Yes,To do cool stuff (data analysis),Yes,some machine learning,Yes,Processing my data in python in order tro get ...,NaN

In [11]:
# So how many data samples did we have, after we cant see a thing?
len(df)

11

In [12]:
df.shape # row count / column count

(11, 9)

# Selection

In [13]:
df["Name"]

0        Hans
1        John
2       Jonas
3         Tim
4       Frank
5       Roman
6     Michael
7      Hannes
8       Obama
9      Manuel
10    Richard
Name: Name, dtype: object

In [14]:
df.Name # This works when the column name has no space and dose not overlap with a Pandas internal function
        # Thats what I try to have all columnames starting with a capital letter

0        Hans
1        John
2       Jonas
3         Tim
4       Frank
5       Roman
6     Michael
7      Hannes
8       Obama
9      Manuel
10    Richard
Name: Name, dtype: object

In [15]:
df["Did you use python before?"]

0     Yes
1     Yes
2     Yes
3      No
4     Yes
5     Yes
6      No
7     Yes
8     Yes
9     Yes
10     No
Name: Did you use python before?, dtype: object

In [16]:
c = df.columns
c = c.tolist()
c

['Zeitstempel',
 'Name',
 'Are you interested in taking part in a python course?',
 'Why are you interested in python?',
 'Did you use python before?',
 'If yes, what did you use python for?',
 'Did you use iPython/Jupyter Notebook?',
 'What are your main interests?',
 'Any other topics within python which you would like me to tackle beyond the topics above?']

In [17]:
c[2] = "Interested"
c[3] = "Why"
c[4] = "Used"
c[5] = "For"
c[6] = "UsedJupyter"
c[7] = "Topics"
c[8] = "TopicsOther"

In [18]:
df.columns = c

In [19]:
df.head(2)

,Zeitstempel,Name,Interested,Why,Used,For,UsedJupyter,Topics,TopicsOther
0,2017/03/24 12:45:49 nachm. OEZ,Hans,Yes,Training GANs to take over the world.,Yes,Nothing useful.,Yes,Machine Learing,"NumPy, Tensorflow, Processing my data in pytho..."
1,2017/03/24 12:49:26 nachm. OEZ,John,Yes,To do cool stuff (data analysis),Yes,some machine learning,Yes,Processing my data in python in order tro get ...,NaN

In [20]:
df.Used

0     Yes
1     Yes
2     Yes
3      No
4     Yes
5     Yes
6      No
7     Yes
8     Yes
9     Yes
10     No
Name: Used, dtype: object

# Lets Add some Knowledge vales

In [21]:
df["Knowledge"] = [1, 4, 5, 3, 2, 1, 5, 3, 2, 1, 5]
df.head()

,Zeitstempel,Name,Interested,Why,Used,For,UsedJupyter,Topics,TopicsOther,Knowledge
0,2017/03/24 12:45:49 nachm. OEZ,Hans,Yes,Training GANs to take over the world.,Yes,Nothing useful.,Yes,Machine Learing,"NumPy, Tensorflow, Processing my data in pytho...",1
1,2017/03/24 12:49:26 nachm. OEZ,John,Yes,To do cool stuff (data analysis),Yes,some machine learning,Yes,Processing my data in python in order tro get ...,NaN,4
2,2017/03/24 1:03:40 nachm. OEZ,Jonas,Yes,Because,Yes,ML,Yes,Setting up python;Basic understanding of pytho...,NaN,5
3,2017/03/24 1:05:35 nachm. OEZ,Tim,Yes,NaN,No,I just used my python before,No,Setting up python;Basic understanding of pytho...,NaN,3
4,2017/03/24 1:09:57 nachm. OEZ,Frank,Yes,It's a Monty Python reference.,Yes,Stuff,Yes,Generating nice figures in python for my paper...,What is the sense of it all?,2

In [22]:
df.describe()

       Knowledge
count  11.000000
mean    2.909091
std     1.640399
min     1.000000
25%     1.500000
50%     3.000000
75%     4.500000
max     5.000000

In [23]:
x = ["Name", "Knowledge"]
df2 = df[x]
df2

       Name  Knowledge
0      Hans          1
1      John          4
2     Jonas          5
3       Tim          3
4     Frank          2
5     Roman          1
6   Michael          5
7    Hannes          3
8     Obama          2
9    Manuel          1
10  Richard          5

In [24]:
df2 = df2.tail()
df2

       Name  Knowledge
6   Michael          5
7    Hannes          3
8     Obama          2
9    Manuel          1
10  Richard          5

In [25]:
df2.Knowledge

6     5
7     3
8     2
9     1
10    5
Name: Knowledge, dtype: int64

In [26]:
df2.Knowledge * 5

6     25
7     15
8     10
9      5
10    25
Name: Knowledge, dtype: int64

In [27]:
df2

       Name  Knowledge
6   Michael          5
7    Hannes          3
8     Obama          2
9    Manuel          1
10  Richard          5

In [28]:
df2.Knowledge > 3

6      True
7     False
8     False
9     False
10     True
Name: Knowledge, dtype: bool

In [29]:
df2[df2.Knowledge > 3]

       Name  Knowledge
6   Michael          5
10  Richard          5

In [30]:
df2[df2.Knowledge > 3 or df2.Knowledge < 2] # Won't work. Why? "or" and "and" is a bitwise operater

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [31]:
df2[df2.Knowledge > 3 | df2.Knowledge < 2] # wont work becaus | and & will be called before < ans >

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [32]:
df2[(df2.Knowledge > 3) | (df2.Knowledge < 2)]

       Name  Knowledge
6   Michael          5
9    Manuel          1
10  Richard          5

In [33]:
df2[df2.Name.str.contains("l")] # you can call all kinds of String methods

      Name  Knowledge
6  Michael          5
9   Manuel          1

# Column operator

In [34]:
df.Used.unique()

array(['Yes', 'No'], dtype=object)

In [35]:
df.Used.value_counts()

Yes    8
No     3
Name: Used, dtype: int64

In [36]:
df.UsedJupyter.value_counts()

Yes    7
No     4
Name: UsedJupyter, dtype: int64

In [37]:
df[(df.Used == "Yes") & (df.UsedJupyter == "No")][["Name", "Interested"]]

    Name Interested
8  Obama        Yes

# Differense between pd.DataFrame and pd.Series

In [38]:
df[(df.Used == "Yes")].Name

0      Hans
1      John
2     Jonas
4     Frank
5     Roman
7    Hannes
8     Obama
9    Manuel
Name: Name, dtype: object

In [39]:
df[(df.Used == "Yes")][["Name", "Interested"]]

     Name Interested
0    Hans        Yes
1    John        Yes
2   Jonas        Yes
4   Frank        Yes
5   Roman        Yes
7  Hannes        Yes
8   Obama        Yes
9  Manuel        Yes

In [40]:
type (df[(df.Used == "Yes") & (df.UsedJupyter == "No")].Name)

pandas.core.series.Series

In [41]:
type (df[(df.Used == "Yes") & (df.UsedJupyter == "No")][["Name", "Interested"]])

pandas.core.frame.DataFrame

# Slicing

In [42]:
df[1:3]

,Zeitstempel,Name,Interested,Why,Used,For,UsedJupyter,Topics,TopicsOther,Knowledge
1,2017/03/24 12:49:26 nachm. OEZ,John,Yes,To do cool stuff (data analysis),Yes,some machine learning,Yes,Processing my data in python in order tro get ...,NaN,4
2,2017/03/24 1:03:40 nachm. OEZ,Jonas,Yes,Because,Yes,ML,Yes,Setting up python;Basic understanding of pytho...,NaN,5

# Merge

In [43]:
import numpy as np

In [44]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12] , [13,14,15,16]])
df2 = pd.DataFrame(a, columns=["C1", "C2", "C3", "C4"])
a2 = a + 16
df3 = pd.DataFrame(a2, columns=["C1", "C2", "C3", "C4"])

In [45]:
df2

   C1  C2  C3  C4
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [46]:
df3

   C1  C2  C3  C4
0  17  18  19  20
1  21  22  23  24
2  25  26  27  28
3  29  30  31  32

In [47]:
pd.concat([df2, df3])

   C1  C2  C3  C4
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
0  17  18  19  20
1  21  22  23  24
2  25  26  27  28
3  29  30  31  32

In [48]:
df2["C5"] = 1

In [49]:
df2

   C1  C2  C3  C4  C5
0   1   2   3   4   1
1   5   6   7   8   1
2   9  10  11  12   1
3  13  14  15  16   1

In [50]:
df4 = pd.concat([df2, df3])
df4

   C1  C2  C3  C4   C5
0   1   2   3   4  1.0
1   5   6   7   8  1.0
2   9  10  11  12  1.0
3  13  14  15  16  1.0
0  17  18  19  20  NaN
1  21  22  23  24  NaN
2  25  26  27  28  NaN
3  29  30  31  32  NaN

In [51]:
df5 = pd.DataFrame(a[:,0], columns=["C1"])
df5["C6"] = ["Y", "E", "A", "H"]
df5

   C1 C6
0   1  Y
1   5  E
2   9  A
3  13  H

In [52]:
pd.merge(df4, df5, on=["C1"], how="outer") # Test: "inner" thats what you know from SQL

   C1  C2  C3  C4   C5   C6
0   1   2   3   4  1.0    Y
1   5   6   7   8  1.0    E
2   9  10  11  12  1.0    A
3  13  14  15  16  1.0    H
4  17  18  19  20  NaN  NaN
5  21  22  23  24  NaN  NaN
6  25  26  27  28  NaN  NaN
7  29  30  31  32  NaN  NaN

# Everthing happend without manipulating the df itself

In [53]:
import numpy as np   
x = np.random.randint(1, 5, size=len(df))
x

array([2, 4, 2, 1, 2, 4, 2, 2, 2, 1, 1])

In [54]:
df.Knowledge.mean()

2.9090909090909092

In [55]:
df.Knowledge.std()

1.6403990645294491

## But who never used python, needs to have zero knowledge, right?

In [56]:
df.ix[df.Used == "No", "Knowledge"] = 0

In [57]:
df.Knowledge.mean()

1.7272727272727273

## Because SPSS likes 0 and 1 more then No and Yes. Lets replace them

In [58]:
replaceColumn = ["Interested", "Used", "UsedJupyter"]

In [59]:
for c in replaceColumn:
    df.ix[df[c] == "No", c] = 0
    df.ix[df[c] == "Yes", c] = 1

In [60]:
df.head()

,Zeitstempel,Name,Interested,Why,Used,For,UsedJupyter,Topics,TopicsOther,Knowledge
0,2017/03/24 12:45:49 nachm. OEZ,Hans,1,Training GANs to take over the world.,1,Nothing useful.,1,Machine Learing,"NumPy, Tensorflow, Processing my data in pytho...",1
1,2017/03/24 12:49:26 nachm. OEZ,John,1,To do cool stuff (data analysis),1,some machine learning,1,Processing my data in python in order tro get ...,NaN,4
2,2017/03/24 1:03:40 nachm. OEZ,Jonas,1,Because,1,ML,1,Setting up python;Basic understanding of pytho...,NaN,5
3,2017/03/24 1:05:35 nachm. OEZ,Tim,1,NaN,0,I just used my python before,0,Setting up python;Basic understanding of pytho...,NaN,0
4,2017/03/24 1:09:57 nachm. OEZ,Frank,1,It's a Monty Python reference.,1,Stuff,1,Generating nice figures in python for my paper...,What is the sense of it all?,2

In [61]:
df.to_csv("./dataset_1/data_nice.csv")

## So What about the Topics, What should have I realy done?

In [62]:
df.Topics.value_counts()

Setting up python;Basic understanding of python;Processing my data in python in order tro get it ready for SPSS;Running stats in python;Running experiments/studys in python;Generating nice figures in python for my paper;Machine Learing    2
Machine Learing                                                                                                                                                                                                                                2
Processing my data in python in order tro get it ready for SPSS;Running stats in python;Running experiments/studys in python;Generating nice figures in python for my paper;Machine Learing                                                    2
Basic understanding of python;Processing my data in python in order tro get it ready for SPSS;Running experiments/studys in python;Generating nice figures in python for my paper                                                              1
Processing my data in python in order tro get it ready for SPSS;Running stats in python;Generating nice figures in python for my paper;Machine Learing                                                                                         1
Setting up python;Basic understanding of python;Processing my data in python in order tro get it ready for SPSS;Running stats in python;Running experiments/studys in python;Generating nice figures in python for my paper                    1
Generating nice figures in python for my paper;Machine Learing                                                                                                                                                                                 1
Running stats in python;Generating nice figures in python for my paper;Machine Learing                                                                                                                                                         1
Name: Topics, dtype: int64

In [63]:
df.Topics.str.split(";")

0                                     [Machine Learing]
1     [Processing my data in python in order tro get...
2     [Setting up python, Basic understanding of pyt...
3     [Setting up python, Basic understanding of pyt...
4     [Generating nice figures in python for my pape...
5     [Processing my data in python in order tro get...
6     [Basic understanding of python, Processing my ...
7     [Running stats in python, Generating nice figu...
8     [Setting up python, Basic understanding of pyt...
9     [Processing my data in python in order tro get...
10                                    [Machine Learing]
Name: Topics, dtype: object

In [64]:
df.Topics.str.split(";").tolist()

[['Machine Learing'],
 ['Processing my data in python in order tro get it ready for SPSS',
  'Running stats in python',
  'Running experiments/studys in python',
  'Generating nice figures in python for my paper',
  'Machine Learing'],
 ['Setting up python',
  'Basic understanding of python',
  'Processing my data in python in order tro get it ready for SPSS',
  'Running stats in python',
  'Running experiments/studys in python',
  'Generating nice figures in python for my paper',
  'Machine Learing'],
 ['Setting up python',
  'Basic understanding of python',
  'Processing my data in python in order tro get it ready for SPSS',
  'Running stats in python',
  'Running experiments/studys in python',
  'Generating nice figures in python for my paper'],
 ['Generating nice figures in python for my paper', 'Machine Learing'],
 ['Processing my data in python in order tro get it ready for SPSS',
  'Running stats in python',
  'Running experiments/studys in python',
  'Generating nice figures in python for my paper',
  'Machine Learing'],
 ['Basic understanding of python',
  'Processing my data in python in order tro get it ready for SPSS',
  'Running experiments/studys in python',
  'Generating nice figures in python for my paper'],
 ['Running stats in python',
  'Generating nice figures in python for my paper',
  'Machine Learing'],
 ['Setting up python',
  'Basic understanding of python',
  'Processing my data in python in order tro get it ready for SPSS',
  'Running stats in python',
  'Running experiments/studys in python',
  'Generating nice figures in python for my paper',
  'Machine Learing'],
 ['Processing my data in python in order tro get it ready for SPSS',
  'Running stats in python',
  'Generating nice figures in python for my paper',
  'Machine Learing'],
 ['Machine Learing']]

In [65]:
lst = []
for d1 in df.Topics.str.split(";").tolist():
    for d2 in d1:
        lst.append(d2)

In [66]:
lst

['Machine Learing',
 'Processing my data in python in order tro get it ready for SPSS',
 'Running stats in python',
 'Running experiments/studys in python',
 'Generating nice figures in python for my paper',
 'Machine Learing',
 'Setting up python',
 'Basic understanding of python',
 'Processing my data in python in order tro get it ready for SPSS',
 'Running stats in python',
 'Running experiments/studys in python',
 'Generating nice figures in python for my paper',
 'Machine Learing',
 'Setting up python',
 'Basic understanding of python',
 'Processing my data in python in order tro get it ready for SPSS',
 'Running stats in python',
 'Running experiments/studys in python',
 'Generating nice figures in python for my paper',
 'Generating nice figures in python for my paper',
 'Machine Learing',
 'Processing my data in python in order tro get it ready for SPSS',
 'Running stats in python',
 'Running experiments/studys in python',
 'Generating nice figures in python for my paper',
 'Machine Learing',
 'Basic understanding of python',
 'Processing my data in python in order tro get it ready for SPSS',
 'Running experiments/studys in python',
 'Generating nice figures in python for my paper',
 'Running stats in python',
 'Generating nice figures in python for my paper',
 'Machine Learing',
 'Setting up python',
 'Basic understanding of python',
 'Processing my data in python in order tro get it ready for SPSS',
 'Running stats in python',
 'Running experiments/studys in python',
 'Generating nice figures in python for my paper',
 'Machine Learing',
 'Processing my data in python in order tro get it ready for SPSS',
 'Running stats in python',
 'Generating nice figures in python for my paper',
 'Machine Learing',
 'Machine Learing']

In [67]:
df1 = pd.DataFrame(lst, columns=["Topics"])
df1.head()

                                              Topics
0                                    Machine Learing
1  Processing my data in python in order tro get ...
2                            Running stats in python
3               Running experiments/studys in python
4     Generating nice figures in python for my paper

In [68]:
df1.Topics.value_counts()

Machine Learing                                                    9
Generating nice figures in python for my paper                     9
Processing my data in python in order tro get it ready for SPSS    7
Running stats in python                                            7
Running experiments/studys in python                               6
Basic understanding of python                                      4
Setting up python                                                  3
Name: Topics, dtype: int64


# By the way there is why more to Pandas then what I just showed
* Multi index - df.set_index() df.reindex()
* Sort - df.sort_index() df.sort_values()
* GroupeBy - df.groupby() <- Next Chapter
* Plot - df.plot() <- Next Chapter